#overlay {
	display: none;
}
#overlay.active {
	display: block;
	position: fixed;
	width:100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(125, 125, 125, 0.8);
	z-index: 999;
}
#overlay #status {
	display: table;
	text-align: center;
	margin: 0 auto;
	width: 50%;
}

#overlay.active h2 {
	display: table-cell;
	text-align: center;
	margin: 0 auto;
	color: white;
	font-size: 3em;
}
#dam-form {
	max-width: 50%;
}

.dam-output-item .value{
    overflow-wrap: break-word;
     word-wrap: break-word;
	 overflow: hidden;
}
.dam-item a.dam-edit-link {
	border: 2px solid white;
}
.dam-item a.dam-edit-link:hover {
	border: 2px solid gray;
}

#edit-template {
	display: none;
}
#archive .dam-item {
	float: left;
	margin-right: 1%;
}
#archive .dam-item:left {
	margin-right:0;
}